.card {
    width: 100%;

    background: var(--color-bg-surface);

    border-radius: var(--radius-2xl);
}

.card-padding-none {
    padding: 0;
}

.card-padding-sm {
    padding: var(--space-4);
}

.card-padding-md {
    padding: var(--space-6);
}

.card-padding-lg {
    padding: var(--space-8);
}
