.spinner {
    display: inline-block;

    border: 3px solid var(--color-border);
    border-top-color: var(--color-brand);

    border-radius: var(--radius-full);

    animation: spinner-rotate 0.7s linear infinite;
}

.spinner-sm {
    width: 18px;
    height: 18px;
}

.spinner-md {
    width: 28px;
    height: 28px;
}

.spinner-lg {
    width: 40px;
    height: 40px;
}

@keyframes spinner-rotate {
    to {
        transform: rotate(360deg);
    }
}
